@import "../../../../variables";

.ModalContentText {
    color: $ta-black;
    margin-top: 10px;
    font-size: 0.875rem;
}


.textbold {
    font-weight: bold;
}

.buttongroup {
    margin-top: 2%;
}