<div class="ta-container">
    <div class="row no-gutters">
        <h2>Retail Incoming Wires</h2>
        <br />
        <br />

        <div class="col-md-12">

            <p-dataTable id="wiresintable" data-auto-id='wires-in-table' sortField="ReceivedDate" [(selection)] ="selectedRetailIncomingWire" sortOrder="1" selectionMode="single" dataKey="WireInId" [value]="wiresInList" [rows]="10" [paginator]="true" #dt>

                <p-column field="ReceivedDate" data-auto-id='wire-in-receive-date' header="Received" [sortable]="true" [style]="{'width':'12%'}">
                    <ng-template pTemplate="body" let-item="rowData">
                        {{item.ReceivedDate | dateformat:'MM/DD/YYYY'}}
                    </ng-template>
                </p-column>

                <p-column field="CustomerName" data-auto-id='wire-in-beneficiary-name' header="Customer Name" [style]="{'width':'16%'}" [sortable]="true"></p-column>
                <p-column field="Amount" data-auto-id='wire-in-amount' header="Amount" [sortable]="true" [style]="{'width':'10%'}">
                    <ng-template pTemplate="body" let-item="rowData">
                        {{item.Amount | currency:'USD':true}}
                    </ng-template>
                </p-column>

                <p-column field="OriginatorToBeneficiary" data-auto-id='wire-in-originator-to-beneficiary' header="Sending Bank Name" [style]="{'width':'27%'}"
                          [sortable]="true">
                    <ng-template pTemplate="body" let-item="rowData">
                        <div class="truncate" title="{{ item.OriginatorToBeneficiary }}"> {{ item.OriginatorToBeneficiary }} </div>
                    </ng-template>
                </p-column>
                <p-column field="ByOrderOf" data-auto-id='wire-in-by-orderof' header="By Order Of" [style]="{'width':'13%'}" [sortable]="true"></p-column>
                <p-column field="Comments" data-auto-id='wire-in-comments' header="Comments" [style]="{'width':'15%'}">
                    <ng-template pTemplate="body" let-item="rowData">
                        <div class="truncate" title="{{ item.Comments }}"> {{ item.Comments }} </div>
                    </ng-template>
                </p-column>

                <p-column [style]="{'overflow':'visible', 'width':'7%'}">
                    <ng-template pTemplate="body" let-item="rowData">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-primary dropdown-toggle btn-sm " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                            <div class="ta-primary-dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0);" (click)="openDetails(item)" [attr.data-auto-id]="getDynamicAutoId('wires-in-assign-', item.WireInId)">View/Assign</a>
                                <a class="dropdown-item" href="javascript:void(0);" (click)="unAssign(item)" [attr.data-auto-id]="getDynamicAutoId('wires-in-unassign-', item.WireInId)">Unassign</a>
                            </div>
                        </div>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>