.calendar-day-base {
    box-sizing: border-box;
    background: white;
    border-radius: 50%;
    padding: 0 !important;
    vertical-align: central !important;
    border: none;
    outline: none;
}

.calendar-day {
    @extend .calendar-day-base;

    &:hover {
        background: #E0E0E0;
    }

    color: #444;
}

.calendar-day-selected {
    @extend .calendar-day-base;
    background: #347597;
}

.number-picker-row {
    text-align: center;
    color: white;
}

.calendar-day-disabled {
    @extend .calendar-day-base;
    background: #E0E0E0;
}
