<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FCSAmerica.McGruff.Core.Properties.McGruffSettings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<appSettings>
    <add key="ECSServerAddress" value="http://DevTitan.FCSAmerica.com/EnterpriseConfigurationStore/v1/RESTServices/api/ConfigItems"/>
    <add key="ECSAllowLocalConfigOverride" value="false"/>
  </appSettings>
<applicationSettings>
<FCSAmerica.McGruff.Core.Properties.McGruffSettings>
<setting name="ApplicationName" serializeAs="String">
<value>-- YOUR ECS Application NameMicro --</value>
</setting>
<setting name="EnableClaimsMapper" serializeAs="String">
<value>True</value>
</setting>
<setting name="LogLevel" serializeAs="String">
<value>Warning</value>
</setting>
</FCSAmerica.McGruff.Core.Properties.McGruffSettings>
</applicationSettings>
</configuration>