/*
 * Typography
 */

@font-face {
    font-family: 'thunder';
    src: url('./../fcsamerica-template/fonts/aloveofthunder-webfont-webfont.eot');
    src: url('./../fcsamerica-template/fonts/aloveofthunder-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('./../fcsamerica-template/fonts/a_love_of_thunder-webfont.woff') format('woff'), url('./../fcsamerica-template/fonts/aloveofthunder-webfont-webfont.ttf') format('truetype'), url('./../fcsamerica-template/fonts/aloveofthunder-webfont-webfont.svg#a_love_of_thunderregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '"Helvetica Neue",Helvetica,Arial,sans-serif;';
    font-weight: normal;
    font-style: normal;
}