<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FCSAmerica.McGruff.Core.Properties.McGruffSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <applicationSettings>
    <FCSAmerica.McGruff.Core.Properties.McGruffSettings>
      <setting name="ApplicationName" serializeAs="String">
        <value>-- YOUR ECS Application NameMicro --</value>
      </setting>
      <setting name="EnableClaimsMapper" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>Warning</value>
      </setting>
    </FCSAmerica.McGruff.Core.Properties.McGruffSettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<appSettings>
    <add key="ECSServerAddress" value="http://DevTitan.FCSAmerica.com/EnterpriseConfigurationStore/v1/RESTServices/api/ConfigItems" />
    <add key="ECSAllowLocalConfigOverride" value="false" />
  </appSettings></configuration>