<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseConfigurationStore" version="2.3.15230.18" targetFramework="net461" />
  <package id="EnterpriseConfigurationStore.Contracts" version="2.3.15230.18" targetFramework="net461" />
  <package id="FCSAmerica.Common.WebAPI.ClientProxy.Core" version="1.2.15091.1" targetFramework="net461" />
  <package id="FCSAmerica.McGruff.Core" version="2.1.16229.22434" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="3.0.2" targetFramework="net461" />
</packages>