<!--<div class="top-nav-separator fixed-top">
    <a href="https://fcsa.fcsamerica.net/EnterpriseReleaseNotes/web/search;businessSystemId=12008" target="_blank" class="pull-right top-nav-separator-content">Release Notes</a>
</div>-->

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse topNav">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand-nav hidden-xs" (click)="navigateToHome()" href="">
        <!--<img src="../../../../vendors/fcsamerica-template/images/biostar.png" alt="Biostar" class="top-navbar-biostar">-->
    </a>
    <a class="navbar-brand" (click)="navigateToHome()" href="" routerLinkActive="active"><h1 class="thunderfont paddingleft">Transact</h1></a>
    <!--<div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <div class="navbar-nav mr-auto">
        </div>
        <ul class="navbar-nav mt-md-0">
            <li class="nav-item">
                <div class="nav-link active">
                    <div class="user-photo pull-right" [ngStyle]="{ 'background-image': 'url(' + settingsService.userImageUrl + ')'}"></div> <span class="name">Welcome, {{settingsService.loggedOnUserName}}</span>
                </div>
            </li>
        </ul>
    </div>-->
</nav>