<div class="sidebar col-md-2 col-sm-3">

    <div class="container search-container">
        <div class="row no-gutters search">
            <div class="col">
                Some Info - TBD
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                Some Info - TBD
                <hr class="search-input-hr" />
            </div>
        </div>
    </div>
    <nav class="nav-container">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <div data-auto-id="link_rejectionsmenu" class="nav-link" id="rejections" onmouseover="" style="cursor: pointer;" [routerLink]="['/rejections']" href="" routerLinkActive="active">
                    <i class="fa fa-fw fa-money"></i> Rejections
                </div>
                <div id="rejectionsSubMenu">
                </div>
            </li>

        </ul>
    </nav>
    <div class="footer-sidebar container">
        <div class="row no-gutters">
            <div class="col">
                <hr />
                <span>Copyright &copy; {{currentYear}}</span>
            </div>
        </div>
    </div>
</div>