@import "../../../variables";

.payments-modal-header{
    height: 200px;
}

.payments-modal-footer{
    height: 200px;
}

.payments-modal-content{
    height: 75vh;
}

.payments-modal-body{
    overflow-y: scroll;
}
