.ui-inputtext {
    height: 100%;
    width: 96%;
    padding: 0.5rem 0.75rem;
    border: none;
}

.ui-button {
    color: #000000;
    background-color: #ffffff;
    width: 3% !important;
    border: none;
    float: right;
}

.ui-button:hover {
    color: #000000 !important;
    background-color: #ffffff !important;
    border: none !important;
}