<div>
    <div class="modal-dialog">
        <div class="modal-content reject-draft-delete-confirm-modal">
            <div class="modal-header">
                <h3 class="modal-title">Confirm Reject</h3>
                <button type="button" class="close">&times;</button>
            </div>
            <div class="modal-body ModalContentText">
                <form (ngSubmit)="submit()" class="form-horizontal" #rejectDraftForm="ngForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select data-auto-id="reason_codes_dropdown" class="form-control form-control-label-sm" required name="reasonCodes" id="reasonCodes" [(ngModel)]="draftRejection.RejectReasonCode" (change)="selectionChanged()"
                                        #reasonCodes="ngModel" placeholder>
                                    <option disabled selected [value]="utilities.defaultDropDownValue">Please select a reject reason</option>
                                    <option *ngFor="let code of draftRejectionReasonCodes" [ngValue]="code">{{code.Description}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" *ngIf="draftRejectionDescriptionVisible">
                                <label for="draftRejectionDescription" class="form-control-label form-control-label-sm">Description</label>
                                <input data-auto-id="draftRejectionDescription" required class="form-control form-control-sm" type="text" name="draftRejectionDescription" id="draftRejectionDescription" [(ngModel)]="draftRejection.Description" #draftRejectionDescription="ngModel" />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="pull-right">
                                    <button data-auto-id="rejectDraft_button_cancel" type="button" class="btn pull-right" (click)="close()">Cancel</button>&nbsp;&nbsp;
                                    <button data-auto-id="rejectDraft_button_confirm" type="button" class="ta-primary-button" (click)="submit()" [disabled]="rejectDraftForm.pristine || !rejectDraftForm.valid">Save</button>&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>