<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FCSAmerica.McGruff.Core.Properties.McGruffSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <!-- 
      The TraceSource logger can be configured in 4 different ways (in priority order):
      1. The default is to use the msmq wcf client with the endpoint named: EnterpriseLoggingServiceBinding_ILoggingServiceAsync
      2. Specify an alternate wcf client endpoint name within the initializeData.  An example:   endpointname=EnterpriseLoggingServiceBinding_ILoggingServiceAsync
      3. Specify the msmq address in the initialize data and delete the wcf configuration.  An example:   msmqaddress=net.msmq://omanes1212/private/EnterpriseLogging_v3
      4. Specify a Rest API uri in the initialization data.  An example:  restapiuri=http://devtitan.fcsamerica.com/EnterpriseLogging/v3/RestServices/api/logging
    
      Example initializeData attributes:
      - initializeData="Application=My Application"  // default MSMQ, system.serviceModel must be used to define endpoint
      - initializeData="Application=My Application;msmqaddress=net.msmq://omanes3212/private/EnterpriseLogging_v3" // MSMQ configured in code, system.serviceModel is not used
      - initializeData="Application=My Application;restapiuri=http://testtitan.fcsamerica.com/EnterpriseLogging/v3/RestServices/api/logging" // no system.serviceModel necessary
    -->
    <!-- Remove the comments if you plan to use the Trace Listener for the Enterprise Logger
    
    <sharedListeners>
      <add name="EnterpriseLogging"
           type="FCSAmerica.EnterpriseLogging.Client.LoggerTraceListener, FCSAmerica.EnterpriseLogging.Client"
           initializeData="Application=My Application" />
    </sharedListeners>
    
    <sources>
      <source name="FCSAmerica.YourSystem.YourApplication.Namespace" switchValue="Verbose">
        <listeners >
          <add name="EnterpriseLogging"></add>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
    -->
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="EnterpriseLoggingMsmqServiceBinding" exactlyOnce="false">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <!-- View this post for environment URLs:
           http://sharepoint.fcsamerica.com/sites/ApplicationsDevelopment/LeadDevBlog/Lists/Posts/Post.aspx?ID=156
      -->
      <!--address="net.msmq://omanes4205/private/EnterpriseLogging_v3"-->
      <!--address="net.msmq://omanes3212/private/EnterpriseLogging_v3"-->
      <!--address="net.msmq://omanes2212/private/EnterpriseLogging_v3"-->
      <!--address="net.msmq://omanes1212/private/EnterpriseLogging_v3"-->
      <endpoint name="EnterpriseLoggingServiceBinding_ILoggingServiceAsync" address="net.msmq://omanes4205/private/EnterpriseLogging_v3" binding="netMsmqBinding" bindingConfiguration="EnterpriseLoggingMsmqServiceBinding" contract="FCSAmerica.EnterpriseLogging.Contracts.ServiceContracts.Async.ILoggingServiceAsync" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<appSettings>
    <add key="ECSServerAddress" value="http://DevTitan.FCSAmerica.com/EnterpriseConfigurationStore/v1/RESTServices/api/ConfigItems" />
    <add key="ECSAllowLocalConfigOverride" value="false" />
  </appSettings>
<applicationSettings>
<FCSAmerica.McGruff.Core.Properties.McGruffSettings>
<setting name="ApplicationName" serializeAs="String">
<value>-- YOUR ECS Application NameMicro --</value>
</setting>
<setting name="EnableClaimsMapper" serializeAs="String">
<value>True</value>
</setting>
<setting name="LogLevel" serializeAs="String">
<value>Warning</value>
</setting>
</FCSAmerica.McGruff.Core.Properties.McGruffSettings>
</applicationSettings>
</configuration>