<div class="ta-container search-list">
    <div class="row search-input-bar">
        <div class="col-md-10">
            <form (ngSubmit)="trySearch(searchInput.value)">
                <div class="input-group">
                    <input data-auto-id="search-input" type="text" #searchInput="ngModel" [(ngModel)]="searchInputModel" name="searchInput" class="form-control" placeholder="Search for customer, account, deal, or facility">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" data-auto-id="search-button">Search</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <button data-auto-id="reset-button" type="button" class="btn btn-link" (click)="reset()" [disabled]="!searchPerformed">Reset</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3 *ngIf="!searching">{{searchPerformed ? 'Search Results' : 'Recently Viewed'}}</h3>
            <hr *ngIf="!searching" />

            <div class="alert alert-info" *ngIf="searching === true">
                <strong>Please wait...</strong>
                <img src="../../../../Content/ajax-loader.gif" alt="Processing" />
            </div>

            <div *ngIf="searching === false">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a data-auto-id="customers-tab" class="nav-link active select-customers-tab" data-toggle="tab" href="#customers" role="tab">Customers ({{customers?.length}})</a>
                    </li>
                    <li class="nav-item">
                        <a data-auto-id="deals-tab" class="nav-link" data-toggle="tab" href="#deals" role="tab">Deals ({{deals?.length}})</a>
                    </li>
                    <li class="nav-item">
                        <a data-auto-id="facilities-tab" class="nav-link" data-toggle="tab" href="#facilities" role="tab">Facilities ({{deals?.length}})</a>
                    </li>
                    <li class="nav-item">
                        <a  data-auto-id="accounts-tab" class="nav-link" data-toggle="tab" href="#accounts" role="tab">Accounts ({{accounts?.length}})</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="customers" role="tabpanel">
                        <customer-results [customers]="customers" (onSelected)="onRowSelect($event)"></customer-results>
                    </div>
                    <div class="tab-pane" id="deals" role="tabpanel">
                        <ta-deal-list [filteredDeals]="deals" (onRowSelected)="dealSelected($event)"></ta-deal-list>
                    </div>
                    <div class="tab-pane" id="facilities" role="tabpanel">
                        <ta-facility-list [filteredFacilities]="facilities" (onRowSelected)="facilitySelected($event)"></ta-facility-list>
                    </div>
                    <div class="tab-pane" id="accounts" role="tabpanel">
                        <ta-account-list [filteredAccounts]="accounts" (onRowSelected)="accountSelected($event)"></ta-account-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>