<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.diagnostics>
    <sharedListeners>
      <add name="EnterpriseLogger" type="FCSAmerica.EnterpriseLogging.Client.LoggerTraceListener, FCSAmerica.EnterpriseLogging.Client"
           initializeData="Application=Transact Client;msmqaddress=net.msmq://#{MSMQ_Server}/private/EnterpriseLogging_v3"
           xdt:Transform="SetAttributes(initializeData)"
           xdt:Locator="Match(name)" />
    </sharedListeners>
    <switches>
      <add name="sourceSwitch" value="#{LoggingSwitchValue}"
           xdt:Transform="SetAttributes(switchValue)"
           xdt:Locator="Match(name)" />
    </switches>
  </system.diagnostics>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <applicationSettings>
    <FCSAmerica.EnterpriseConfigurationStore.Properties.Settings>
      <setting name="EcsRestUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <!-- notice that this setting ends in api where the previous version included the route to the controller -->
        <value>http://#{WebEnv}Titan.FCSAmerica.com/EnterpriseConfigurationStore/v1/RESTServices/api</value>
      </setting>
      <setting name="OverrideEcsSettingsWithAppSettings" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>False</value>
      </setting>
    </FCSAmerica.EnterpriseConfigurationStore.Properties.Settings>
  </applicationSettings>
</configuration>