@import "../../../variables";

.has-danger .form-control {
    border-color: $form-red;
}

.has-danger .form-control-label {
    color: $form-red;
}

.form-group.is-required {
    label {
        font-weight: bold;

        &:before {
            content: "*";
        }

        &.not-required {
            font-weight: normal;
        }

        &.not-required:before {
            content: "";
        }
    }
}

p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext,
p-autocomplete[required].ng-invalid > .ui-autocomplete > .ui-inputtext,
.has-danger > p-autocomplete > .ui-autocomplete > .ui-inputtext {
    border-left: 5px solid #a94442 !important; /* red */
    /*border-bottom: 1px solid #d6d6d6;  Theme specific */
}